.container {
    margin: auto;
}

.header {
    margin: 0;
    background-color: #a9a9a9;
}
.content {
    display: flex;
    justify-content: space-between;
    margin: 0 10%;
}

.logo {
    padding: 25px 15px;
}

.menu ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0px 40px;
}

.menu li {
    display: block;
    padding: 50px 30px;
    border: 1px rgb(0, 0, 0) solid;
}

.menu li:hover {
    background-color: #7b7b7b86;
    border-bottom: 4px #ff5d5d solid;
}

.submit {
    margin: 0 0 50px 200px;
    display: flex;
}

button {
    background-color: orange;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.submit p {
    margin: 20px 0 20px 0;
    font-size: 30px;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.card {
    display: inline-block;
    border: 1px solid rgb(47, 47, 47);
    padding: 10px;
}

.card_top {
    position: relative;
}

.img_card {
    z-index: 1;
}

.card_top .plus {
    display: none;
    position: absolute;
    z-index: 2;
    left: 100px;
    top: 90px;
}

.card_top:hover .plus {
    display: block;
}

.date {
    color: white;
    position: absolute;
    z-index: 2;
    bottom: 10px;
    left: 5px;
}


.footer p {
    display: flex;
    justify-content: flex-end;
    margin: 30px;
}